@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              15/4/2016
    Program Name:                                 _MenuDriverExecutableFormPartial
    Purpose:                                      Provides view for Executabler round panel

    ====================================================================================================================================================*@ 

@using System.Web.UI.WebControls
@model M4PL.Entities.Menus

@*Menu Driver Executabler*@

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>Execute</label>
        @Html.DevExpress().TextBoxFor(m => m.MnuExecuteProgram,
        settings =>
        {
            settings.Properties.NullText = "Menu Execute Program";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 50;
        }).GetHtml()
        @Html.ValidationMessageFor(m => m.MnuExecuteProgram, null, new { @class = "error" })
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label>Program Type</label>
        @Html.DevExpress().ComboBox(settings =>
        {
            settings.Name = "MnuProgramType";
            settings.Width = Unit.Percentage(100);
            settings.ControlStyle.CssClass = "form-control";

            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            settings.Properties.AllowNull = true;

            settings.Properties.DropDownStyle = DropDownStyle.DropDown;
            settings.Properties.ValueField = "SysOptionName";
            settings.Properties.TextField = "SysOptionName";
            settings.Properties.NullText = "--- Select Program Type ---";
            settings.Properties.ValueType = typeof(string);
        }).BindList(M4PL.APIClient.API_RefOptions.GetRefOptions("SYSTM000MenuDriver", "MnuProgramType")).Bind(Model.MnuProgramType).GetHtml()
        @Html.ValidationMessageFor(m => m.MnuProgramType, null, new { @class = "error" })
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label>Menu Classification</label>
        @Html.DevExpress().TextBoxFor(m => m.MnuClassification,
        settings =>
        {
            settings.Properties.NullText = "Menu Classification";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 50;
        }).GetHtml()
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label>Select Option Level</label>
        @Html.DevExpress().ComboBox(settings =>
        {
            settings.Name = "MnuOptionLevel";
            settings.Width = Unit.Percentage(100);
            settings.ControlStyle.CssClass = "form-control";

            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            settings.Properties.AllowNull = true;

            settings.Properties.DropDownStyle = DropDownStyle.DropDown;
            settings.Properties.ValueField = "SysOptionID";
            settings.Properties.TextField = "SysOptionName";
            settings.Properties.NullText = "--- Select Option Level ---";
            settings.Properties.ValueType = typeof(int);
        }).BindList(M4PL.APIClient.API_RefOptions.GetRefOptions("SYSTM000MenuDriver", "MnuOptionLevel")).Bind(Model.MnuOptionLevel).GetHtml()
    </div>
  
    </div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label>Date Entered</label>
        @Html.DevExpress().TextBoxFor(m => m.DateEntered,
        settings =>
        {
            settings.Properties.NullText = "Menu Date Entered";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;

        }).GetHtml()
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label>Date Changed</label>
        @Html.DevExpress().TextBoxFor(m => m.DateChanged,
        settings =>
        {
            settings.Properties.NullText = "Menu Date Changed";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;

        }).GetHtml()
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label>Entered By</label>
        @Html.DevExpress().TextBoxFor(m => m.EnteredBy,
        settings =>
        {
            settings.Properties.NullText = "Menu Entered By";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;

        }).GetHtml()
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label>Changed By</label>
        @Html.DevExpress().TextBoxFor(m => m.ChangedBy,
        settings =>
        {
            settings.Properties.NullText = "Menu Changed By";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;

        }).GetHtml()
    </div>
</div>

@*Menu Driver Executabler*@