@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              15/4/2016
    Program Name:                                 Create
    Purpose:                                      Provides view for System Menu Driver Master

    ====================================================================================================================================================*@
@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.Menus>
@{
    ViewBag.Title = "Add Menu";
}

@Html.DevExpress().Menu(settings =>
{
    settings.Name = "MenuDriver";
    settings.Width = Unit.Percentage(100);

    settings.Items.Add(item =>
    {
        item.Text = "System Menu Driver Master";
        item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.Chart3dclusteredcolumn16x16;
    });
}).GetHtml()
<div class="form-group"></div>

<form id="frmMenuDriver" enctype="multipart/form-data" method="post" action='@Url.Action("Create", "MenuDriver")'>
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            @Html.DevExpress().RoundPanel(settings =>
                {
                    settings.Name = "pnlMenuDriverDetail";
                    settings.Width = Unit.Percentage(100);

                    settings.AllowCollapsingByHeaderClick = true;
                    settings.ShowCollapseButton = true;
                    settings.HeaderText = "Detail";
                    settings.Collapsed = false;
                    settings.SetContent(() =>
                    {
                        Html.RenderPartial("_MenuDriverDetailsFormPartial", Model.Data);
                    });
                }).GetHtml()
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            @Html.DevExpress().RoundPanel(settings =>
                {
                    settings.Name = "pnlMenuIcons";
                    settings.Width = Unit.Percentage(100);

                    settings.AllowCollapsingByHeaderClick = true;
                    settings.ShowCollapseButton = true;
                    settings.HeaderText = "Icons";
                    settings.Collapsed = false;
                    settings.SetContent(() =>
                    {
                        Html.RenderPartial("_MenuDriverIconsFormPartial", Model.Data);
                    });
                }).GetHtml()
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            @Html.DevExpress().RoundPanel(settings =>
                {
                    settings.Name = "pnlMenuExecutable";
                    settings.Width = Unit.Percentage(100);

                    settings.AllowCollapsingByHeaderClick = true;
                    settings.ShowCollapseButton = true;
                    settings.HeaderText = "Executabler";
                    settings.Collapsed = false;
                    settings.SetContent(() =>
                    {
                        Html.RenderPartial("_MenuDriverExecutableFormPartial", Model.Data);
                    });
                }).GetHtml()
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            @Html.DevExpress().RoundPanel(settings =>
                {
                    settings.Name = "pnlChangedandEntered";
                    settings.Width = Unit.Percentage(100);

                    settings.AllowCollapsingByHeaderClick = true;
                    settings.ShowCollapseButton = true;
                    settings.HeaderText = "Changed and Entered";
                    settings.Collapsed = false;
                    settings.SetContent(() =>
                    {
                        Html.RenderPartial("_MenuDriverChangedAndEnteredFormPartial", Model.Data);
                    });
                }).GetHtml()
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="text-center">
            @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnSave";
                    settings.Text = "Save";
                    settings.ControlStyle.CssClass = "btn btn-primary";
                    settings.UseSubmitBehavior = true;

                }).GetHtml()
            @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.Text = "Cancel";
                    settings.UseSubmitBehavior = false;
                    settings.ControlStyle.CssClass = "btn btn-default";
                    settings.RouteValues = Url.Action("Index", "MenuDriver");
                }).GetHtml()
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/Scripts/App/MenuDriver.js"></script>
}

@section Head{
    <link href="~/Content/MenuDriver.css" rel="stylesheet" />
}