@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.Menus>
@{
    ViewBag.Title = "Settings";
}

<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "MenuDriver";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "System Menu Driver Master";
            });
        }).GetHtml()
    <hr />
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-3 form-group">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnAddNew";
                settings.Text = "Add New Menu";
                settings.UseSubmitBehavior = false;
                settings.ControlStyle.CssClass = "btn btn-group";
                settings.RouteValues = Url.Action("Create", "MenuDriver");
            }).GetHtml()
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Action("MenusGridPartial")
        </div>
        @*<div class="col-md-6">
            @Html.Action("RolesGridPartial")
        </div>
        <div class="col-md-6">
            @Html.Action("SecurityRolesPartial")
        </div>*@
    </div>
</div>