
<link href="~/Content/ChooseColumns.css" rel="stylesheet" />
<div id="Selection" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <form id="frmChoosedColumns" name="frmChoosedColumns" enctype="multipart/form-data" method="post">
            <div>
                <div class="container-fluid">
                    <div class="col-md-12 set_ChooseCol">DataView</div>
                    <div class="col-md-12">
                        <div class="col-md-4 set_MarginLeft"><h5><b>Available Columns:</b></h5></div>
                        <div class="col--md-offset-2 col-md-6 pull-right set_ShowCol"><h5><b>Show Columns:</b></h5></div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-4 form-group set_ListMarLft">
                            <div class="row">
                                <select id="LstColumnName" size="10" multiple></select>
                            </div>
                        </div>
                        <div class="col-md-2 set_AddSel">
                            <div class="row">
                                <div class="col-md-2 form-group">
                                    @Html.DevExpress().Button(settings =>
                                    {
                                        settings.Name = "btnAddItem";
                                        settings.Text = "Add";
                                        settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ArrowsDoublenext16x16;
                                        settings.UseSubmitBehavior = false;
                                        settings.ControlStyle.CssClass = "AddItem";
                                        settings.ClientSideEvents.Click = "AddSelectedItems";
                                    }).GetHtml()
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btnRemoveitem";
                                    settings.Text = "Remove";
                                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ArrowsDoubleprev16x16;
                                    settings.UseSubmitBehavior = false;
                                    settings.ClientSideEvents.Click = "RemoveSelectedItems";
                                }).GetHtml()
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 set_RemSel">
                            <div class="row">
                                <select id="LstDisplayColumnName" size="10" multiple></select>
                            </div>
                        </div>
                        <div class="col-md-2 mov_UpMarlft">
                            <div class="row">
                                <div class="col-md-2 form-group">
                                    @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btnMoveUpitem";
                                    settings.Text = "Move Up";
                                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ArrowsMoveup16x16;
                                    settings.UseSubmitBehavior = false;
                                    settings.ControlStyle.CssClass = "moveup";
                                    settings.ClientSideEvents.Click = "MoveSelectedItemsUp";
                                }).GetHtml()
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 form-group">
                                    @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btnMoveDownitem";
                                    settings.Text = "Move Down";
                                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ArrowsMovedown16x16;
                                    settings.UseSubmitBehavior = false;
                                    settings.ControlStyle.CssClass = "movedown";
                                    settings.ClientSideEvents.Click = "MoveSelectedItemsDown";
                                }).GetHtml()
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 form-group">
                                    @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btnFreezeItemm";
                                    settings.Text = "Add Freeze Pane";
                                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAdd16x16;
                                    settings.UseSubmitBehavior = false;
                                    settings.ClientSideEvents.Click = "";
                                }).GetHtml()
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 checkbox-inline pull-right quick_Entrychkbox">
                                <input type="checkbox" value="" checked><label class="quick_EntryFont">Quick Entry</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-9 col-md-3  form-group">
                            @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "btnRestoreItem";
                                settings.Text = "Restore Defaults";
                                settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsRefresh16x16;
                                settings.UseSubmitBehavior = false;
                                settings.ClientSideEvents.Click = "RestoreDefaults";
                            }).GetHtml()
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <p>Hold Down The Ctrl (Windows) / Command (Mac) Button To Select Multiple Options.</p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    @Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "btnSaveChosen";
                        settings.Text = "Save";
                        settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsSave16x16devav;
                        settings.UseSubmitBehavior = false;
                        settings.ClientSideEvents.Click = "SaveChosenColumns";
                    }).GetHtml()
                    @Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "btncancelItem";
                        settings.Text = "Cancel";
                        settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsCancel16x16;
                        settings.UseSubmitBehavior = false;
                        settings.ClientSideEvents.Click = "function(s, e) { popupchooseCols.Hide(); }";
                    }).GetHtml()
                </div>
            </div>

        </form>
    </div>
</div>