@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              21/3/2016
    Program Name:                                 _ContentLayout
    Purpose:                                      The page content will be rendered here.

    ====================================================================================================================================================*@ 

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <link href="~/Scripts/mdb.min.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @{
        <script>
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["API_URL"].ToString()';
        </script>
    }
    @Scripts.Render("~/Scripts")
    @RenderSection("Head", false)

</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", false)

</body>
</html>
