<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @{
        <script>
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["API_URL"].ToString()';
        </script>
    }

    @RenderSection("Head", false)

</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", false)

</body>
</html>
