@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              21/3/2016
    Program Name:                                 _Layout
    Purpose:                                      Provides view for Layout which includes header,menus and content,footer,popups throughout the application

    ====================================================================================================================================================*@ 
    
    @*LAYOUT*@

@using System.Drawing;
@using System.Web.UI.WebControls;
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="~/Content/Common.css" rel="stylesheet" />

    @RenderSection("Head", required: false)

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Icons },
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Icons },
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.TreeList },
        new Script { ExtensionSuite = ExtensionSuite.RichEdit },
        new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
    )

    @{
        string Action = Convert.ToString(ViewContext.RouteData.Values["action"]), Controller = Convert.ToString(ViewContext.RouteData.Values["controller"]), Id = Convert.ToString(ViewContext.RouteData.Values["id"]);
        <script type="text/javascript">
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["API_URL"].ToString()';
            var webUrl = '', cmdName = '', cmdText = '';
            var action = '@Action';
            var controller = '@Controller';
            var id = '@Id';
            @*var webUrl = '@System.Configuration.ConfigurationManager.AppSettings["WEB_URL"].ToString()';*@

            function onCommandExecuted(s, e) {
                cmdName = e.item.name;
                cmdText = (e.item.text !== null && e.item.text !== '' && e.item.text.length > 0) ? e.item.text : '';
                cmdText = ((cmdText === '' || cmdText.length === 0) && (e.parameter !== null && e.parameter.toString() !== '' && e.parameter.toString().length > 0)) ? e.parameter.toString() : '';

                if (cmdName.toLowerCase() === "formview" || cmdName.toLowerCase() === "new") {
                    cmdName = '';
                    window.location.href = '@Url.Action("Create", Controller)';
                }
                else if (cmdName.toLowerCase() === "datasheetview") {
                    cmdName = '';
                    window.location.href = '@Url.Action("Index", Controller)';
                }
                else if (cmdName.toLowerCase() === "refreshall" || cmdName.toLowerCase() === "removesort") {
                    cmdName = '';
                    window.location.href = window.location.toString();
                }
                else if (cmdName.toLowerCase() === "delete") {
                    cmdName = '';
                    if (parseInt(id) > 0 && confirm('Do you really want to delete this record?'))
                        window.location.href = '@Url.Action("Delete", Controller, new { Id = Id })';
                }
                else if (cmdName.toLowerCase() === "save" && (action.toLowerCase() === "create" || action.toLowerCase() === "edit")) {
                    cmdName = '';
                    $('#frm' + controller.toString()).submit();
                }
                else if (cmdName.toLowerCase() === "advanced") {
                    cmdName = '';
                    if (grid !== null && grid !== undefined) {
                        grid.SetFilterEnabled(true);
                        grid.ShowFilterControl();
                        grid.ApplyFilter();
                    }
                }
                else if (cmdName.toLowerCase() === "clearfilter") {
                    cmdName = '';
                    if (grid !== null && grid !== undefined) {
                        grid.SetFilterEnabled(false);
                        grid.CloseFilterControl();
                        grid.ClearFilter();
                        grid.Refresh();
                    }
                }
                else if (cmdName.toLowerCase() === "togglefilter") {
                    cmdName = '';

                    $.ajax({
                        url: '@Url.Action("SetGridProperties", Controller)',
                        type: "GET",
                        dataType: "json",
                        traditional: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res && grid !== null && grid !== undefined) {
                                grid.PerformCallback();
                            }
                        }
                    });
                }
                else if (cmdName.toLowerCase() === "choosecolumns") {
                    cmdName = '';

                    if (grid !== null && grid !== undefined) {
                        $.ajax({
                            url: '@Url.Action("GetAllColumns", "AllSettings")',
                            type: "GET",
                            dataType: "json",
                            data: { 'pageName': controller },
                            traditional: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (res) {
                                if (res) {
                                    BindLists(res.LstColumnName, res.LstDisplayColumnName);
                                }
                                $('#popupArea').click();
                            }
                        });
                    }
                }
                else if (cmdName.toLowerCase() === "newbutton") {
                    cmdName = '';
                    window.location.href = '@Url.Action("SaveAliasColumn", "AllSettings")';
                }

            }

            function AddSelectedItems() {
                MoveSelectedItems('LstColumnName', 'LstDisplayColumnName');
            }

            function RemoveSelectedItems() {
                MoveSelectedItems('LstDisplayColumnName', 'LstColumnName');
            }

            function MoveSelectedItems(srcListBoxId, destListBoxId) {
                $.each($('#' + srcListBoxId.toString() + ' option:selected'), function () {
                    $('#' + destListBoxId.toString() + '').append($("<option/>").val($(this).val()).text($(this).text()));
                    $('#' + srcListBoxId.toString()).find('[value="' + $(this).val() + '"]').remove();
                });
            }

            function MoveSelectedItemsUp() {

                $('#LstDisplayColumnName option:selected').each(function (i, selected) {

                    if (!$(this).prev().length) return false;
                    $(this).insertBefore($(this).prev());
                });
            }

            function MoveSelectedItemsDown() {

                $($('#LstDisplayColumnName option:selected').get().reverse()).each(function (i, selected) {

                    if (!$(this).next().length) return false;
                    $(this).insertAfter($(this).next());
                });
            }

            function SaveChosenColumns() {
                var SortOrder = 0, lstDisplayColumnName = [], lstColumnName = [];
                $.each($('#LstDisplayColumnName option'), function () {
                    SortOrder += 1;
                    lstDisplayColumnName.push({
                        ColColumnName: $(this).val(),
                        ColSortOrder: SortOrder,
                        ColAliasName: $(this).text()
                    });
                });
                SortOrder = 0;
                $.each($('#LstColumnName option'), function () {
                    SortOrder += 1;
                    lstColumnName.push({
                        ColColumnName: $(this).val(),
                        ColSortOrder: SortOrder,
                        ColAliasName: $(this).text()
                    });
                });

                var requestData = {
                    LstColumnName: lstColumnName
                    , LstDisplayColumnName: lstDisplayColumnName
                    , ColPageName: controller.toString()
                };

                $.ajax({
                    url: '@Url.Action("SaveChosenColumns", "AllSettings")',
                    type: 'POST',
                    data: JSON.stringify(requestData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result) {
                            $('#Selection').hide();
                            window.location.href = window.location.toString();
                            popupchooseCols.Hide();
                        }
                    },
                    async: true,
                    processData: false
                });

            }

            function BindLists(lstColumnName, lstDisplayColumnName) {
                if (lstColumnName != null && lstColumnName.length > 0) {
                    for (var i = 0; i < lstColumnName.length; i++) {
                        $('#LstColumnName').append($("<option/>").val(lstColumnName[i].ColColumnName).text(lstColumnName[i].ColAliasName));
                    }
                }

                if (lstDisplayColumnName != null && lstDisplayColumnName.length > 0) {
                    for (var i = 0; i < lstDisplayColumnName.length; i++) {
                        $('#LstDisplayColumnName').append($("<option/>").val(lstDisplayColumnName[i].ColColumnName).text(lstDisplayColumnName[i].ColAliasName));
                    }
                }
            }

        </script>
    }




</head>


<body>
    @Html.Partial("_Ribbon")

    @Html.DevExpress().Splitter(settings =>
    {
        settings.Name = "splOverview";
        settings.Height = Unit.Percentage(100);
        settings.FullscreenMode = true;

        settings.Panes.Add(pane =>
        {
            pane.Size = Unit.Percentage(15);
            pane.MinSize = 225;
            pane.MaxSize = 275;
            pane.ScrollBars = ScrollBars.Auto;
            pane.SetContent(() =>
            {
                Html.RenderPartial("_NavBar");
            });
        });

        settings.Panes.Add(pane =>
        {
            pane.Name = "gridContainer";
            pane.Size = Unit.Percentage(85);
            pane.MinSize = 600;
            pane.AutoHeight = true;
            pane.AutoWidth = true;
            //pane.SetContent(RenderBody().ToHtmlString() + Html.Partial("_Common"));
            pane.SetContent(() =>
            {
                ViewContext.Writer.Write(
                    @RenderBody()
                );
                ViewContext.Writer.Write(
                    @RenderSection("SectionViewStart", required: false)
                );
                if (ViewData["PartialView"] != null && ViewData["PartialView"].ToString() != "")
                {
                    Html.RenderPartial(ViewData["PartialView"].ToString());
                    ViewData["PartialView"] = "";
                }
                ViewContext.Writer.Write(
                    @RenderSection("SectionViewEnd", required: false)
                );
            });
        });

    }).GetHtml()

    @RenderSection("Scripts", required: false)

    @*Choose Columns*@

    <div class="row">
       @Html.DevExpress().PopupControl(settings =>
  {
      settings.Name = "popupchooseCols";
      settings.PopupElementID = "MyRibbon_T0G2I4";
      settings.AllowDragging = true;
      settings.ShowOnPageLoad = false;
      settings.CloseAction = CloseAction.CloseButton;
      settings.ControlStyle.CssClass = "popupchooseCols";
      settings.HeaderText = "Choose Columns";
   settings.SetContent(() => {
          Html.RenderPartial("_ChooseColumns");
    });
}).GetHtml()

           @*"<div  id=\"Selection\" role=\"dialog\" data-backdrop=\"false\">                                                                                                               "
  +"             <div class=\"modal-dialog\">                                                                                                                                                                       "  
  +"                 <form id=\"frmChoosedColumns\" name=\"frmChoosedColumns\" enctype=\"multipart/form-data\" method=\"post\">                                                                                     "
  +"                         <div >                                                                                                                                                             "
  +"                             <div class=\"container-fluid\">                                                                                                                                                    "
  +"                                 <div class=\"col-md-12 set_ChooseCol\">Choose Which Columns To Show On List</div>                                                                                              "
  +"                                 <div class=\"col-md-12\">                                                                                                                                                      "
  +"                                     <div class=\"col-md-4 set_MarginLeft\"><h5><b>Choose Columns:</b></h5></div>                                                                                               "
  +"                                     <div class=\"col--md-offset-2 col-md-6 pull-right set_ShowCol\"><h5><b>Show Columns:</b></h5></div>                                                                        "
  +"                                 </div>                                                                                                                                                                         "
  +"                                 <br />                                                                                                                                                                         "
  +"                                 <div class=\"col-md-12\">                                                                                                                                                      "
  +"                                     <div class=\"col-md-4 form-group set_ListMarLft\">                                                                                                                         "
  +"                                         <div class=\"row\">                                                                                                                                                    "
  +"                                             <select id=\"LstColumnName\" size=\"10\" multiple></select>                                                                                                        "
  +"                                         </div>                                                                                                                                                                 "
  +"                                     </div>                                                                                                                                                                     "
  +"                                     <div class=\"col-md-2 set_AddSel\">                                                                                                                                        "
  +"                                         <div class=\"row\">                                                                                                                                                    "
  +"                                             <div class=\"col-md-2 form-group\">                                                                                                                                "
  +"                                                 <button type=\"button\" class=\"btn btn-primary btn-sm set_AddEle\" onclick=\"javascript:AddSelectedItems();\">                                                "
  +"                                                     Add<span class=\"glyphicon glyphicon-menu-right\"></span><span class=\"glyphicon glyphicon-menu-right\"></span>                                            "
  +"                                                 </button>                                                                                                                                                      "
  +"                                             </div>                                                                                                                                                             "
  +"                                         </div>                                                                                                                                                                 "
  +"                                         <div class=\"row\">                                                                                                                                                    "
  +"                                             <div class=\"col-md-2\">                                                                                                                                           "
  +"                                                 <button type=\"button\" class=\"btn btn-primary btn-sm set_Remove\" onclick=\"javascript:RemoveSelectedItems();\">                                             "
  +"                                                     <span class=\"glyphicon glyphicon-menu-left\"></span><span class=\"glyphicon glyphicon-menu-left\"></span>Remove                                           "
  +"                                                 </button>                                                                                                                                                      "
  +"                                             </div>                                                                                                                                                             "
  +"                                         </div>                                                                                                                                                                 "
  +"                                     </div>                                                                                                                                                                     "
  +"                                     <div class=\"col-md-4 set_RemSel\">                                                                                                                                        "
  +"                                         <div class=\"row\">                                                                                                                                                    "
  +"                                             <select id=\"LstDisplayColumnName\" size=\"10\" multiple></select>                                                                                                 "
  +"                                         </div>                                                                                                                                                                 "
  +"                                     </div>                                                                                                                                                                     "
  +"                                     <div class=\"col-md-2 mov_UpMarlft\">                                                                                                                                      "
  +"                                         <div class=\"row\">                                                                                                                                                    "
  +"                                             <div class=\"col-md-2 form-group\">                                                                                                                                "
  +"                                                 <button type=\"button\" class=\"btn btn-primary btn-sm mov_UpPadding\" onclick=\"javascript:MoveSelectedItemsUp();\">                                          "
  +"                                                     <span class=\"glyphicon glyphicon-circle-arrow-up\"></span>&nbsp;&nbsp;Move Up                                                                             "
  +"                                                 </button>                                                                                                                                                      "
  +"                                             </div>                                                                                                                                                             "
  +"                                         </div>                                                                                                                                                                 "
  +"                                         <div class=\"row\">                                                                                                                                                    "
  +"                                             <div class=\"col-md-2 form-group\">                                                                                                                                "
  +"                                                 <button type=\"button\" class=\"btn btn-primary btn-sm mov_DownPadding\" onclick=\"javascript:MoveSelectedItemsDown();\">                                      "
  +"                                                     <span class=\"glyphicon glyphicon-circle-arrow-down\"></span>&nbsp;&nbsp;Move Down                                                                         "
  +"                                                 </button>                                                                                                                                                      "
  +"                                             </div>                                                                                                                                                             "
  +"                                         </div>                                                                                                                                                                 "
  +"                                         <div class=\"row\">                                                                                                                                                    "
  +"                                             <div class=\"col-md-2  form-group\">                                                                                                                               "
  +"                                                 <button type=\"button\" class=\"btn btn-primary btn-sm add_FrzPadding\">                                                                                       "
  +"                                                     <span class=\"glyphicon glyphicon-plus-sign\"></span>&nbsp;&nbsp;Add Freeze Pane                                                                           "
  +"                                                 </button>                                                                                                                                                      "
  +"                                             </div>                                                                                                                                                             "
  +"                                         </div>                                                                                                                                                                 "
  +"                                                                                                                                                                                                                "
  +"                                     </div>                                                                                                                                                                     "
  +"                                     <div class=\"row\">                                                                                                                                                        "
  +"                                         <div class=\"col-md-4 checkbox-inline pull-right quick_Entrychkbox\">                                                                                                  "
  +"                                             <input type=\"checkbox\" value=\"\" checked><label class=\"quick_EntryFont\">Quick Entry</label>                                                                   "
  +"                                         </div>                                                                                                                                                                 "
  +"                                     </div>                                                                                                                                                                     "
  +"                                 </div>                                                                                                                                                                         "
  +"                                                                                                                                                                                                                "
  +"                                 <div class=\"row\">                                                                                                                                                            "
  +"                                     <div class=\"col-md-offset-9 col-md-3  form-group\">                                                                                                                       "
  +"                                         <button type=\"button\" class=\"btn btn-primary btn-sm\">                                                                                                              "
  +"                                             <span class=\"glyphicon glyphicon-repeat  gly-rotate-270\"></span>&nbsp;&nbsp;Restore Defaults                                                                     "
  +"                                         </button>                                                                                                                                                              "
  +"                                     </div>                                                                                                                                                                     "
  +"                                 </div>                                                                                                                                                                         "
  +"                             </div>                                                                                                                                                                             "
  +"                             <div class=\"row\">                                                                                                                                                                "
  +"                                 <div class=\"form-group\">                                                                                                                                                     "
  +"                                     <div class=\"col-md-12\">                                                                                                                                                  "
  +"                                         <p>Hold Down The Ctrl (Windows) / Command (Mac) Button To Select Multiple Options.</p>                                                                                 "
  +"                                     </div>                                                                                                                                                                     "
  +"                                 </div>                                                                                                                                                                         "
  +"                             </div>                                                                                                                                                                             "
  +"                         </div>                                                                                                                                                                                 "
  +"                         <div class=\"modal-footer\">                                                                                                                                                           "
  +"                             <input type=\"button\" value=\"OK\" class=\"btn btn-default okbtn_Padding\" onclick=\"javascript: SaveChosenColumns();\" />                                                        "
  +"                             <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Cancel</button>                                                                                           "
  +"                         </div>                                                                                                                                                                                "  
  +"                 </form>                                                                                                                                                                                        "
  +"             </div>"                                                                                                                                                                                    
  +"         </div>"*@
    @*<div id="popupArea" style="height: 300px;">Click here to invoke a popup window</div>*@
      @*  <button type="button" id="popupArea" data-toggle="modal">PopupPopupPopupPopupPopupPopupPopup</button>*@


        <!-- Trigger the modal with a button -->
       @* <button type="button" id="btnPopup" class="btn btn-default btn-md " data-toggle="modal" >Popup</button>*@
        <!-- Modal -->
        @*<div class="modal fade" id="Selection" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                 Modal content
                <form id="frmChoosedColumns" name="frmChoosedColumns" enctype="multipart/form-data" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title custom_colFont"><strong>Customize Column List</strong></h4>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="col-md-12 set_ChooseCol">Choose Which Columns To Show On List</div>
                                <div class="col-md-12">
                                    <div class="col-md-4 set_MarginLeft"><h5><b>Choose Columns:</b></h5></div>
                                    <div class="col--md-offset-2 col-md-6 pull-right set_ShowCol"><h5><b>Show Columns:</b></h5></div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-4 form-group set_ListMarLft">
                                        <div class="row">
                                            <select id="LstColumnName" size="10" multiple></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 set_AddSel">
                                        <div class="row">
                                            <div class="col-md-2 form-group">
                                                <button type="button" class="btn btn-primary btn-sm set_AddEle" onclick="javascript:AddSelectedItems();">
                                                    Add<span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary btn-sm set_Remove" onclick="javascript:RemoveSelectedItems();">
                                                    <span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>Remove
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 set_RemSel">
                                        <div class="row">
                                            <select id="LstDisplayColumnName" size="10" multiple></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mov_UpMarlft">
                                        <div class="row">
                                            <div class="col-md-2 form-group">
                                                <button type="button" class="btn btn-primary btn-sm mov_UpPadding" onclick="javascript:MoveSelectedItemsUp();">
                                                    <span class="glyphicon glyphicon-circle-arrow-up"></span>&nbsp;&nbsp;Move Up
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 form-group">
                                                <button type="button" class="btn btn-primary btn-sm mov_DownPadding" onclick="javascript:MoveSelectedItemsDown();">
                                                    <span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;&nbsp;Move Down
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2  form-group">
                                                <button type="button" class="btn btn-primary btn-sm add_FrzPadding">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add Freeze Pane
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 checkbox-inline pull-right quick_Entrychkbox">
                                            <input type="checkbox" value="" checked><label class="quick_EntryFont">Quick Entry</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-offset-9 col-md-3  form-group">
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-repeat  gly-rotate-270"></span>&nbsp;&nbsp;Restore Defaults
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p>Hold Down The Ctrl (Windows) / Command (Mac) Button To Select Multiple Options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" value="OK" class="btn btn-default okbtn_Padding" onclick="javascript: SaveChosenColumns();" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>*@

    </div>

    @*Choose Columns*@


    @*Start Alias Button*@

    <div class="col-md-2">

        <button type="button" id="btnAliasPopup" class="btn btn-info btn-md dis_None" data-toggle="modal" data-target="#myModal2">Alias Popup </button>

        <div class="modal fade" id="myModal2" role="dialog" data-backdrop="false">
            <div class="modal-dialog">

                <div class="modal-content modalWidth">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title custom_colFont"><strong>Alias Columns</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div id="eventsResult" class="table-responsive">
                                        <table id="eventsTable" class="table table-hover table-bordered table-striped table-scrollable table-fixed-header " data-toggle="table" data-page-length='10'
                                               data-url="data1.json"
                                               data-click-to-select="true" data-single-select="true" data-pagination="true">
                                            <thead>
                                                <tr>
                                                    <th>Column Name</th>
                                                    <th data-field="state" data-checkbox="true">Visible</th>
                                                    <th data-field="state" data-checkbox="true">Default</th>
                                                    <th>Caption</th>
                                                    <th>Description</th>
                                                    <th>Culture</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Full Name</th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <td><center><input type="text" class="form-control" /></center></td>
                                                    <td class="forum-post-contents"><textarea id="reply-text" class="form-control"></textarea></td>
                                                    <td><center><input type="text" class="form-control tableTxtbox" value="EN" /></center></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Job Title</th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <td><center><input type="text" class="form-control" /></center></td>
                                                    <td class="forum-post-contents"><textarea id="reply-text" class="form-control"></textarea></td>
                                                    <td><center><input type="text" class="form-control tableTxtbox" value="EN" /></center></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Company</th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <td><center><input type="text" class="form-control" /></center></td>
                                                    <td class="forum-post-contents"><textarea id="reply-text" class="form-control"></textarea></td>
                                                    <td><center><input type="text" class="form-control tableTxtbox" value="EN" /></center></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Business City</th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <th class="bs-checkbox tableChkbox tableChkbox" data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <td><center><input type="text" class="form-control" /></center></td>
                                                    <td class="forum-post-contents"><textarea id="reply-text" class="form-control"></textarea></td>
                                                    <td><center><input type="text" class="form-control tableTxtbox" value="EN" /></center></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Business Address 1</th>
                                                    <th class="bs-checkbox tableChkbox " data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <th class="bs-checkbox tableChkbox " data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <td><center><input type="text" class="form-control" /></center></td>
                                                    <td class="forum-post-contents"><textarea id="reply-text" class="form-control"></textarea></td>
                                                    <td><center><input type="text" class="form-control tableTxtbox" value="EN" /></center></td>

                                                </tr>

                                                <tr>
                                                    <th scope="row">Mobile Phone</th>
                                                    <th class="bs-checkbox tableChkbox " data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <th class="bs-checkbox tableChkbox " data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <td><center><input type="text" class="form-control" /></center></td>
                                                    <td class="forum-post-contents"><textarea id="reply-text" class="form-control"></textarea></td>
                                                    <td><center><input type="text" class="form-control tableTxtbox" value="EN" /></center></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Business Phone</th>
                                                    <th class="bs-checkbox tableChkbox " data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <th class="bs-checkbox tableChkbox " data-field="state" tabindex="0"><div class="th-inner "><input name="btSelectAll" type="checkbox"></div><div class="fht-cell"></div></th>
                                                    <td><center><input type="text" class="form-control" /></center></td>
                                                    <td class="forum-post-contents"><textarea id="reply-text" class="form-control"></textarea></td>
                                                    <td><center><input type="text" class="form-control tableTxtbox" value="EN" /></center></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary active popBtnWidth" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default popBtnWidth" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End Alias Button*@

</body>
</html>
@*LAYOUT*@