@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              21/3/2016
    Program Name:                                 _Messages
    Purpose:                                      Provides view for success,danger,warning,information Messages

    ====================================================================================================================================================*@

@*Error Meesages*@
<link href="~/Content/ToasterMessages.css" rel="stylesheet" />
<script src="~/Scripts/App/Messages.js"></script>
@{
    if (Model != null && Model.Message != null && Model.Message.Length > 0)
    {
        @*var cssclass = "alert alert-success";
            var iconcss = "glyphicon glyphicon-ok";
            if (Model.MessageType == M4PL_API_CommonUtils.MessageTypes.Failure)
            {
                iconcss = "glyphicon glyphicon-remove";
                cssclass = "alert alert-danger";
            }
            else if (Model.MessageType == M4PL_API_CommonUtils.MessageTypes.Exception)
            {
                iconcss = "glyphicon glyphicon-warning-sign";
                cssclass = "alert alert-warning";
            }
            else if (Model.MessageType != M4PL_API_CommonUtils.MessageTypes.Success)
            {
                iconcss = "glyphicon glyphicon-exclamation-sign";
                cssclass = "alert alert-info";
            }

            <div class="@cssclass set_AlertFont" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="@iconcss" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @Model.Message
                </div>*@

        <!-- Trigger the modal with a button -->
        <button type="button" id="btnSuccess" class="btn btn-success btn-md" data-toggle="modal" data-target="#divSucess" style="display: none;">M4PL Success</button>
        <!-- Modal -->
        <div class="modal fade" id="divSucess" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <p><span class="glyphicon glyphicon-globe glyphiconGlobe"></span>&nbsp;@Model.SystemMessages.sysMessageScreenTitle</p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><a href="#" class="btn btn-success btn-md"><span class="glyphicon glyphicon-ok"></span></a>&nbsp;@Model.SystemMessages.SysMessageTitle</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2 alignCenter" for="email">Message:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment" readonly>@Model.SystemMessages.SysMessageDescription</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default center-block popBtnWidth" data-dismiss="modal">OK</button>
                        <p class="pull-left msgRefMargintop">Message reference #:@Model.SystemMessages.SysMessageCode</p>
                    </div>
                </div>
            </div>
        </div>

         <!-- Trigger the modal with a button -->
        <button type="button" id="btnError" class="btn btn-danger btn-md" data-toggle="modal" data-target="#divError" style="display:none;">Error</button>

        <!-- Modal -->
        <div class="modal fade" id="divError" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <p><span class="glyphicon glyphicon-globe glyphiconGlobe"></span>&nbsp;@Model.SystemMessages.sysMessageScreenTitle</p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><a href="#" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove"></span></a>&nbsp;@Model.SystemMessages.SysMessageTitle</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2 alignCenter" for="email">Issue:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment">>@Model.SystemMessages.SysMessageDescription</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Solution:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment" readonly>@Model.SystemMessages.SysMessageInstruction</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-default center-block popBtnWidth" data-dismiss="modal">OK</button>
                        <p class="pull-left msgRefMargintop">Message reference #:@Model.SystemMessages.SysMessageCode</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Trigger the modal with a button -->
        <button type="button" id="btnInfo" class="btn btn-info btn-md" data-toggle="modal" data-target="#divInfo" style="display:none;">@Model.SystemMessages.sysMessageScreenTitle</button>
        <!-- Modal -->
        <div class="modal fade" id="divInfo" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <p><span class="glyphicon glyphicon-globe glyphiconGlobe"></span>&nbsp;@Model.SystemMessages.sysMessageScreenTitle</p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><a href="#" class="btn btn-info btn-md"><span class="glyphicon glyphicon-info-sign"></span></a><strong>&nbsp;@Model.SystemMessages.SysMessageTitle</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2 alignCenter" for="email">Issue:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment" readonly>@Model.SystemMessages.SysMessageDescription</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default popBtnWidth" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-primary active popBtnWidth" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default popBtnWidth" data-dismiss="modal">Cancel</button>
                        <p class="pull-left msgRefMargintop1">Message reference #:@Model.SystemMessages.SysMessageCode</p>
                    </div>
                </div>
            </div>
        </div>

        Model.Message = string.Empty;

    }
}

 

<button type="button" id="btnmsgbox" class="btn btn-info btn-md" data-toggle="modal" data-target="#divmsgbox" style="display:none;">Info</button>

<div class="modal fade" id="divmsgbox" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p id="SysScreenTitle"><span id="sysMsgTypeHeaderIcon" ></span>&nbsp;</p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="SysMessageTitle"><a href="#" class="btn btn-info btn-md"><span id="sysMsgTypeIcon"></span></a><strong>&nbsp;</strong></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group" id="divIssue" >
                        <label class="control-label col-sm-2 alignCenter" id="divIssuelbl" for="email">Issue:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control-static textareaWidth" rows="5" id="SysMessageDescription" readonly></textarea>
                        </div>
                    </div>                  
                    <div class="form-group" id="divSolution">
                        <label class="control-label col-sm-2" for="email">Solution:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control-static textareaWidth" rows="5" id="SysMessageInstruction" readonly></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display:none" id="divbtnOKCancel">
                <button type="button" class="btn btn-default center-block popBtnWidth" data-dismiss="modal">OK</button>
                 <p class="pull-left msgRefMargintop" id="SysMessageCode1">Message reference #:</p>
            </div>
            <div class="modal-footer" style="display:none" id="divbtnYesNO">                
                <button type="button" class="btn btn-default popBtnWidth" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary active popBtnWidth" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default popBtnWidth" data-dismiss="modal">Cancel</button>
                 <p class="pull-left msgRefMargintop1" id="SysMessageCode">Message reference #:</p>
            </div>
        </div>
    </div>
</div>
@*Error Meesages*@
<script>
    function removeTextAreaWhiteSpace() {
        var myTxtArea = document.getElementById('myTextArea');
        myTxtArea.value = myTxtArea.value.replace(/^\s*|\s*$/g, '');
    }
</script>

