@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              21/3/2016
    Program Name:                                 _Messages
    Purpose:                                      Provides view for success,danger,warning,information Messages

    ====================================================================================================================================================*@

@*Error Meesages*@

@{
    if (Model != null && Model.Message != null && Model.Message.Length > 0)
    {
        @*var cssclass = "alert alert-success";
            var iconcss = "glyphicon glyphicon-ok";
            if (Model.MessageType == M4PL_API_CommonUtils.MessageTypes.Failure)
            {
                iconcss = "glyphicon glyphicon-remove";
                cssclass = "alert alert-danger";
            }
            else if (Model.MessageType == M4PL_API_CommonUtils.MessageTypes.Exception)
            {
                iconcss = "glyphicon glyphicon-warning-sign";
                cssclass = "alert alert-warning";
            }
            else if (Model.MessageType != M4PL_API_CommonUtils.MessageTypes.Success)
            {
                iconcss = "glyphicon glyphicon-exclamation-sign";
                cssclass = "alert alert-info";
            }

            <div class="@cssclass set_AlertFont" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="@iconcss" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @Model.Message
                </div>*@

    
    
    
    
    
    
    
    
    @Html.ActionLink("Save", "", null, new { href = "javascript:pcModalMode.Show();" })
    @Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "pcModalMode";
        settings.Width = 100;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Login";
        settings.Modal = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SetContent(() =>
        {
            using (Html.BeginForm("ModalMode", "PopupControl", FormMethod.Post, new { id = "popupForm", @class = "edit_form", @style = "width: 260px" }))
            {
                Html.Hidden("ProductID");
                ViewContext.Writer.Write("<div class=\"line\">");
                Html.DevExpress().Label(
                    labelSettings =>
                    {
                        labelSettings.ControlStyle.CssClass = "label";
                        labelSettings.Text = "Username:";
                        labelSettings.AssociatedControlName = "Username";
                    }
                )
                .Render();
                Html.DevExpress().TextBox(
                    textBoxSettings =>
                    {
                        textBoxSettings.Name = "Username";
                        textBoxSettings.ControlStyle.CssClass = "editor";
                    }
                )
                .Render();
                ViewContext.Writer.Write("</div><div class=\"line\">");
                Html.DevExpress().Label(
                    labelSettings =>
                    {
                        labelSettings.ControlStyle.CssClass = "label";
                        labelSettings.Text = "Password:";
                        labelSettings.AssociatedControlName = "Password";
                    }
                )
                .Render();
                Html.DevExpress().TextBox(
                    textBoxSettings =>
                    {
                        textBoxSettings.Name = "Password";
                        textBoxSettings.ControlStyle.CssClass = "editor";
                    }
                )
                .Render();
                ViewContext.Writer.Write("</div><div class=\"line\">");
                Html.DevExpress().Label(
                    labelSettings =>
                    {
                        labelSettings.ControlStyle.CssClass = "label";
                    }
                )
                .Render();
                Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnUpdate";
                        buttonSettings.ControlStyle.CssClass = "button";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "OK";
                        buttonSettings.UseSubmitBehavior = true;
                    }
                )
                .Render();
                Html.DevExpress().Button(
                    buttonSettings =>
                    {
                        buttonSettings.Name = "btnCancel";
                        buttonSettings.ControlStyle.CssClass = "button";
                        buttonSettings.Width = 80;
                        buttonSettings.Text = "Cancel";
                        buttonSettings.ClientSideEvents.Click = "function(s, e){ pcModalMode.Hide(); }";
                    }
                )
                .Render();
                ViewContext.Writer.Write("</div><b class=\"Clear\"></b>");
            }
        });

        settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
    }).GetHtml()




































        @*<!-- Trigger the modal with a button -->
        <button type="button" id="btnSuccess" class="btn btn-success btn-md" data-toggle="modal" data-target="#divSucess" style="display: none;">Success</button>
        <!-- Modal -->
        <div class="modal fade" id="divSucess" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><a href="#" class="btn btn-success btn-md"><span class="glyphicon glyphicon-ok"></span></a>&nbsp;Success</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Success:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment">@Model.Message</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default center-block popBtnWidth" data-dismiss="modal">OK</button>
                        <p class="pull-left msgRefMargintop">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>*@

         <!-- Trigger the modal with a button -->
        <button type="button" id="btnError" class="btn btn-danger btn-md" data-toggle="modal" data-target="#divError" style="display:none;">Error</button>

        <!-- Modal -->
        <div class="modal fade" id="divError" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><a href="#" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-ban-circle"></span></a>&nbsp;Meridian Systems EDGE Error</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Issue:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment">Meridian EDGE encountered a system error.</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Solution:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment">@Model.Message</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default center-block popBtnWidth" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Trigger the modal with a button -->
        <button type="button" id="btnInfo" class="btn btn-info btn-md" data-toggle="modal" data-target="#divInfo" style="display:none;">Information</button>
                <!-- Modal -->
        <div class="modal fade" id="divInfo" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><a href="#" class="btn btn-info btn-md"><span class="glyphicon glyphicon-info-sign"></span></a><strong>&nbsp;Information</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Issue:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control-static textareaWidth" rows="5" id="comment">
                                        @Model.Message
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default popBtnWidth" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-primary active popBtnWidth" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default popBtnWidth" data-dismiss="modal">Cancel</button>
                        <p class="pull-left msgRefMargintop1">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>


        Model.Message = string.Empty;
    }

    <script type="text/javascript">
        var msg = '@Model.Message';
        var msgType = '@Model.MessageType';

        $(window).load(function () {
            if (msg != null && msg.length > 0) {
                if (msgType == "Success") $('#btnSuccess').click();
                else if (msgType == "Failure") $('#btnError').click();
                else $('#btnInfo').click();
            }
        });

    </script>
}

@*Error Meesages*@