@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              28/4/2016
    Program Name:                                 _OrganizationDetailsFormPartial
    Purpose:                                      Provides view for Organization Detail

    ====================================================================================================================================================*@ 

@using System.Web.UI.WebControls
@model M4PL.Entities.Organization

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label>@Model.LblOrganizationID</label>
        @Html.DevExpress().TextBoxFor(m => m.OrganizationID,
        settings =>
        {
            settings.Properties.NullText = "Organization ID";
            settings.ControlStyle.CssClass = "form-control readonlyBgColor";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;
            settings.Enabled = false;
        }).GetHtml()
        @Html.ValidationMessageFor(m => m.OrganizationID, null, new { @class = "error" })
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label>@Model.LblOrgSortOrder</label>
        @Html.DevExpress().ComboBox(settings =>
        {
            settings.Name = "OrgSortOrder";
            settings.Width = Unit.Percentage(100);
            settings.ControlStyle.CssClass = "form-control";

            settings.Properties.DropDownStyle = DropDownStyle.DropDown;
            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            settings.Properties.NullText = "--- Select Sort Order ---";

            settings.Properties.ValueType = typeof(int);
            settings.Properties.Items.AddRange(M4PL.APIClient.API_Organization.GetOrgSortOrder(Model.OrganizationID));
        }).Bind(Model.OrgSortOrder).GetHtml()
        @Html.ValidationMessageFor(m => m.OrgSortOrder, null, new { @class = "error" })
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label>@Model.LblOrgCode</label>
        @Html.DevExpress().TextBoxFor(m => m.OrgCode,
        settings =>
        {
            settings.Properties.NullText = "Organization Code";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;
        }).GetHtml()
        @Html.ValidationMessageFor(m => m.OrgCode, null, new { @class = "error" })
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label>@Model.LblOrgTitle</label>
        @Html.DevExpress().TextBoxFor(m => m.OrgTitle,
        settings =>
        {
            settings.Properties.NullText = "Organization Title";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 50;
        }).GetHtml()
        @Html.ValidationMessageFor(m => m.OrgTitle, null, new { @class = "error" })
        <br />
        <label>@Model.LblOrgGroup</label>
        @Html.DevExpress().TextBoxFor(m => m.OrgGroup,
        settings =>
        {
            settings.Properties.NullText = "Organization Group";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;
        }).GetHtml()
        @Html.ValidationMessageFor(m => m.OrgGroup, null, new { @class = "error" })
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label>@Model.LblOrgStatus</label>
        @Html.DevExpress().ComboBox(settings =>
        {
            settings.Name = "OrgStatus";
            settings.Width = Unit.Percentage(100);
            settings.ControlStyle.CssClass = "form-control";
            settings.Properties.DropDownStyle = DropDownStyle.DropDown;
            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            settings.Properties.NullText = "--- Select Status ---";
            settings.Properties.TextField = "SysOptionName";
            settings.Properties.ValueField = "SysOptionName";
            settings.Properties.ValueType = typeof(string);
        }).BindList(M4PL.APIClient.API_RefOptions.GetRefOptions("SYSTM000OpnSezMe", "SysStatusAccount")).Bind(Model.OrgStatus).GetHtml()
        @Html.ValidationMessageFor(m => m.OrgStatus, null, new { @class = "error" })
    </div>
</div>