@model IEnumerable<M4PL.Entities.Organization>

@{
    ViewBag.Title = "Index";
}

<h2>Organizations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrgCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgSortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgEnteredBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgDateChangedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrgCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgSortOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgEnteredBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgDateChangedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrganizationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrganizationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrganizationID })
        </td>
    </tr>
}

</table>
