@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.Organization>
@{
    ViewBag.Title = "Organization";
}

<div class="container-fluid">
 
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Organizations";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Organizations";
            });
        }).GetHtml()
    <hr />
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-3 form-group">
            <input id="btnAddNew" type="button" value="Add Organization" class="btn btn-group" onclick="@("window.location.href='" + @Url.Action("Create", "Organization") + "'");" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.Action("OrganizationGridPartial")
        </div>
    </div>
</div>
