@using System.Web.UI.WebControls
@model M4PL.Entities.Contact
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
   <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 form-group" style="border-right: 1px solid #A0A0A0 ;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <label>Business Address</label>
                    @Html.DevExpress().MemoFor(m => m.BusinessAddress1,
        settings =>
        {
            settings.Properties.NullText = "Business Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    @Html.DevExpress().MemoFor(m => m.BusinessAddress2,
        settings =>
        {
            settings.Properties.NullText = "Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                    <label>State</label>
                    @Html.DevExpress().TextBoxFor(m => m.BusinessStateProvince,
                settings =>
                {
                    settings.Properties.NullText = "State";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                    <label>City</label>
                    @Html.DevExpress().TextBoxFor(m => m.BusinessCity,
                settings =>
                {
                    settings.Properties.NullText = "City";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                    <label>Postal Code</label>
                    @Html.DevExpress().TextBoxFor(m => m.BusinessZIPPostal,
                settings =>
                {
                    settings.Properties.NullText = "Postal Code";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 10;
                }).GetHtml()
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                    <label>Country</label>
                    @Html.DevExpress().TextBoxFor(m => m.BusinessCountryRegion,
                settings =>
                {
                    settings.Properties.NullText = "Country";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                </div>
            </div>
        </div>
  
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <label>Home Address</label>
                @Html.DevExpress().MemoFor(m => m.HomeAddress1,
        settings =>
        {
            settings.Properties.NullText = "Home Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                @Html.DevExpress().MemoFor(m => m.HomeAddress2,
        settings =>
        {
            settings.Properties.NullText = "Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>State</label>
                @Html.DevExpress().TextBoxFor(m => m.HomeStateProvince,
                settings =>
                {
                    settings.Properties.NullText = "State";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>City</label>
                @Html.DevExpress().TextBoxFor(m => m.HomeCity,
                settings =>
                {
                    settings.Properties.NullText = "City";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Postal Code</label>
                @Html.DevExpress().TextBoxFor(m => m.HomeZIPPostal,
                settings =>
                {
                    settings.Properties.NullText = "Postal Code";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 10;
                }).GetHtml()
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Country</label>
                @Html.DevExpress().TextBoxFor(m => m.HomeCountryRegion,
                settings =>
                {
                    settings.Properties.NullText = "Country";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
            </div>
        </div>
    </div>
    </div>
        </div>
    </div>
<style>
    .dxrpAW {
        overflow-x: hidden;
    }
</style>