@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              11/4/2016
    Program Name:                                 _ContactAddressFormPartial
    Purpose:                                      Provides view for Address details of Contact

    ====================================================================================================================================================*@


@using System.Web.UI.WebControls
@model M4PL.Entities.Contact
@*Contact Address Panel*@

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group setBorder_Right">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Business Address</label>
                        @Html.DevExpress().MemoFor(m => m.ConBusinessAddress1,
        settings =>
        {
            settings.Properties.NullText = "Business Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        @Html.DevExpress().MemoFor(m => m.ConBusinessAddress2,
        settings =>
        {
            settings.Properties.NullText = "Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>State</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConBusinessStateProvince,
                settings =>
                {
                    settings.Properties.NullText = "State";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>City</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConBusinessCity,
                settings =>
                {
                    settings.Properties.NullText = "City";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>Postal Code</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConBusinessZIPPostal,
                settings =>
                {
                    settings.Properties.NullText = "Postal Code";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 10;
                }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>Country</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConBusinessCountryRegion,
                settings =>
                {
                    settings.Properties.NullText = "Country";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Home Address</label>
                        @Html.DevExpress().MemoFor(m => m.ConHomeAddress1,
        settings =>
        {
            settings.Properties.NullText = "Home Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        @Html.DevExpress().MemoFor(m => m.ConHomeAddress2,
        settings =>
        {
            settings.Properties.NullText = "Address";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(50);
            settings.Properties.MaxLength = 150;
        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>State</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConHomeStateProvince,
                settings =>
                {
                    settings.Properties.NullText = "State";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>City</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConHomeCity,
                settings =>
                {
                    settings.Properties.NullText = "City";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>Postal Code</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConHomeZIPPostal,
                settings =>
                {
                    settings.Properties.NullText = "Postal Code";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 10;
                }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>Country</label>
                        @Html.DevExpress().TextBoxFor(m => m.ConHomeCountryRegion,
                settings =>
                {
                    settings.Properties.NullText = "Country";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Contact Address*@

