@using System.Web.UI.WebControls
@model M4PL.Entities.Contact

@*Contact Detail Panel*@

<div class="row">

    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                <label>Contact ID</label>
                @Html.DevExpress().TextBoxFor(m => m.ContactID,
                settings =>
                {
                    settings.Properties.NullText = "Contact ID";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                    settings.Enabled = false;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ContactID, null, new { @class = "error" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                <label>Title</label>
                @Html.DevExpress().ComboBox(settings =>
                {
                    settings.Name = "ConTitle";
                    settings.Width = Unit.Percentage(100);
                    settings.ControlStyle.CssClass = "form-control";

                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                    settings.SelectedIndex = 0;

                    settings.Properties.ValueType = typeof(string);
                    settings.Properties.Items.Add("Mr.");
                    settings.Properties.Items.Add("Ms.");
                    settings.Properties.Items.Add("Mrs.");
                    settings.Properties.Items.Add("Dr.");
                }).Bind(Model.ConTitle).GetHtml()
                @Html.ValidationMessageFor(m => m.ConTitle, null, new { @class = "error" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                <label>First Name</label>
                @Html.DevExpress().TextBoxFor(m => m.ConFirstName,
                settings =>
                {
                    settings.Properties.NullText = "First Name";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConFirstName, null, new { @class = "error" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                <label>Middle Name</label>
                @Html.DevExpress().TextBoxFor(m => m.ConMiddleName,
                settings =>
                {
                    settings.Properties.NullText = "Middle Name";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConMiddleName, null, new { @class = "error" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                <label>Last Name</label>
                @Html.DevExpress().TextBoxFor(m => m.ConLastName,
                settings =>
                {
                    settings.Properties.NullText = "Last Name";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConLastName, null, new { @class = "error" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                <label>ERP ID</label>
                @Html.DevExpress().TextBoxFor(m => m.ConERPID,
                settings =>
                {
                    settings.Properties.NullText = "ERP ID";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                    settings.Enabled = false;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConERPID, null, new { @class = "error" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Company</label>
                @Html.DevExpress().TextBoxFor(m => m.ConCompany,
                settings =>
                {
                    settings.Properties.NullText = "Company";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 100;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConCompany, null, new { @class = "error" })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Job Title</label>
                @Html.DevExpress().TextBoxFor(m => m.ConJobTitle,
                settings =>
                {
                    settings.Properties.NullText = "Job Title";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 50;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConJobTitle, null, new { @class = "error" })
            </div>
        </div>
    </div>
</div>

@*Contact Detail Panel*@