@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              11/4/2016
    Program Name:                                 _ContactPhoneFormPartial
    Purpose:                                      Provides view for Contact phone number,email,fax number

    ====================================================================================================================================================*@ 

@model M4PL.Entities.Contact
@using System.Web.UI.WebControls

@*Contact Phones and Email Panel*@

@{
    var src = M4PL_API_CommonUtils.M4PL_Constants.M4PL_EmptyImageUrl;
    if (Model.ConImage != null && Model.ConImage.Length > 0)
    {
        src = "data:image/jpeg;base64," + Convert.ToBase64String(Model.ConImage);
    }
}

<div class="col-md-2 col-sm-2 set_MargLeft form-group">
    <label for="file-input"  class="fileinput_border">
        <img id="imgPreview" src=@src class="img_CursHeiWid"/>
    </label>
    <input id="file-input" name="ImageData" type="file" class="dis_None" />
</div>

<div class="col-md-10 col-sm-10">
    <div class="row">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 form-group">
                <label>Business Phone</label>
                @Html.DevExpress().TextBoxFor(m => m.ConBusinessPhone,
                settings =>
                {
                    settings.Properties.NullText = "Business Phone";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConBusinessPhone, null, new { @class = "error" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                <label>Ext</label>
                @Html.DevExpress().TextBoxFor(m => m.ConBusinessPhoneExt,
                settings =>
                {
                    settings.Properties.NullText = "Extension Number";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConBusinessPhoneExt, null, new { @class = "error" })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Email Address 1</label>
                @Html.DevExpress().TextBoxFor(m => m.ConEmailAddress,
                settings =>
                {
                    settings.Properties.NullText = "Email Address 1";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 100;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConEmailAddress, null, new { @class = "error" })
            </div>

        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Home Phone</label>
                @Html.DevExpress().TextBoxFor(m => m.ConHomePhone,
                settings =>
                {
                    settings.Properties.NullText = "Home Phone";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConHomePhone, null, new { @class = "error" })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Email Address 2</label>
                @Html.DevExpress().TextBoxFor(m => m.ConEmailAddress2,
                settings =>
                {
                    settings.Properties.NullText = "Email Address 2";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 100;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConEmailAddress2, null, new { @class = "error" })
            </div>
        
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Mobile Phone</label>
                @Html.DevExpress().TextBoxFor(m => m.ConMobilePhone,
                settings =>
                {
                    settings.Properties.NullText = "Mobile Phone";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConMobilePhone, null, new { @class = "error" })
            </div>
    
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Fax Number</label>
                @Html.DevExpress().TextBoxFor(m => m.ConFaxNumber,
                settings =>
                {
                    settings.Properties.NullText = "Fax Number";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()
                @Html.ValidationMessageFor(m => m.ConFaxNumber, null, new { @class = "error" })
            </div>
        </div>
    </div>

</div>

@*Contact Phones and Email Panel*@