@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              10/5/2016
    Program Name:                                 _ContactNotesFormPartial
    Purpose:                                      Provides view for Notes panel of Contact

    ====================================================================================================================================================*@ 

@model M4PL.Entities.Contact
@using System.Web.UI.WebControls

@*Contact Additional Information and Notes Panel*@

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 form-group">
                <label>Web URL</label>
                @Html.DevExpress().TextBoxFor(m => m.ConWebPage,
        settings =>
        {
            settings.Properties.NullText = "Web URL";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;

        }).GetHtml()
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 form-group attach_MarTop">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "ConAttachment";
                    settings.Text = "Attachments";
                    settings.ControlStyle.CssClass = "btn btn-primary";
                    settings.UseSubmitBehavior = false;
                }).GetHtml()
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 form-group">
                <label>Type</label>
                @Html.DevExpress().ComboBox(settings =>
                {
                    settings.Name = "ConType";
                    settings.Width = Unit.Percentage(100);
                    settings.ControlStyle.CssClass = "form-control";

                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                    settings.SelectedIndex = 0;

                    settings.Properties.ValueType = typeof(string);
                    settings.Properties.Items.Add("Outlook");

                }).Bind(Model.ConType).GetHtml()

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 form-group">
                <label>Status</label>
                @Html.DevExpress().ComboBox(settings =>
                {
                    settings.Name = "ConStatus";
                    settings.Width = Unit.Percentage(100);
                    settings.ControlStyle.CssClass = "form-control";

                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                    settings.SelectedIndex = 0;
                    settings.Properties.Items.Add("Active");
                    settings.Properties.Items.Add("Inactive");
                 
                    settings.Properties.ValueType = typeof(string);

                }).Bind(Model.ConStatus).GetHtml()

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Full Name</label>
                @Html.DevExpress().TextBoxFor(m => m.ConFullName,
                settings =>
                {
                    settings.Properties.NullText = "Full Name";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()

            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Outlook ID</label>
                @Html.DevExpress().TextBoxFor(m => m.ConOutlookID,
                settings =>
                {
                    settings.Properties.NullText = "Outlook ID";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>File As</label>
                @Html.DevExpress().TextBoxFor(m => m.ConFileAs,
                settings =>
                {
                    settings.Properties.NullText = "File As";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxLength = 25;
                }).GetHtml()

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <label>Notes</label>
                @Html.DevExpress().MemoFor(m => m.ConNotes,
        settings =>
        {
            settings.Properties.NullText = "Notes";
            settings.ControlStyle.CssClass = "form-control";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Pixel(160);
        }).GetHtml()
            </div>
        </div>
    </div>
</div>

@*Contact Additional Information and Notes Panel*@