@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .setMarLft{
        margin-left:-10px;
        
    }
    .setWd{
        width:59.8%;
    }


 
</style>
<div class="container-fluid">
    <h2>Contact</h2>
    <hr />
    <form id="frmContact" enctype="multipart/form-data" method="post">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
                        <label>Title</label>
                        @Html.DevExpress().ComboBox(settings =>
                            {
                                settings.Name = "cmbTitle";
                                settings.Width = Unit.Percentage(100);
                                settings.ControlStyle.CssClass = "form-control";

                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.SelectedIndex = 0;

                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.Items.Add("Mr.", 1);
                                settings.Properties.Items.Add("Ms.", 2);
                                settings.Properties.Items.Add("Mrs.", 3);
                                settings.Properties.Items.Add("Dr.", 4);
                            }).GetHtml()
                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
                        <label>First Name</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtFirstName";
                                settings.Properties.NullText = "First Name";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Last Name</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtLastName";
                                settings.Properties.NullText = "Last Name";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Company</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtCompany";
                                settings.Properties.NullText = "Company";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Job Title</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtJobtitle";
                                settings.Properties.NullText = "Job Title";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>

                </div>

                <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Address</label>
                            @Html.DevExpress().Memo(settings =>
                            {
                                settings.Name = "txtAddress";
                                settings.Properties.NullText = "Address";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                                settings.Height = Unit.Pixel(94);
                            }).GetHtml()
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>City</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtCity";
                                settings.Properties.NullText = "City";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>State/Province</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtState";
                                settings.Properties.NullText = "State/Province";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Country</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtCountry";
                                settings.Properties.NullText = "Country";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Postal Code</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtPostalcode";
                                settings.Properties.NullText = "Postal Code";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <label for="file-input" style="border: 1px solid #ccc; margin-top: 8pt;">
                            <img src="http://www.intelligentmedia.com/Press/notavailable.gif" style="cursor: pointer; width: 100%; height: 100%;" />
                        </label>
                        <input id="file-input" type="file" style="display: none;" />
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5  form-group setMarLft">
                                <label>Business Phone</label>
                                @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtBusinessphone";
                                settings.Properties.NullText = "Business Phone";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7  form-group setWd">
                                <label>Mobile Phone</label>
                                @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtMobilephone";
                                settings.Properties.NullText = "Mobile Phone";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5  form-group setMarLft">
                                <label>Home Phone</label>
                                @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtHomephone";
                                settings.Properties.NullText = "Home Phone";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7  form-group setWd">
                                <label>Fax Number</label>
                                @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtFaxnumber";
                                settings.Properties.NullText = "Fax Number";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Email Address 1</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtEmailaddress1";
                                settings.Properties.NullText = "Email Address 1";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Email Address 2</label>
                        @Html.DevExpress().TextBox(settings =>
                            {
                                settings.Name = "txtEmailaddress2";
                                settings.Properties.NullText = "Email Address 2";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Notes</label>
                        @Html.DevExpress().Memo(settings =>
                            {
                                settings.Name = "txtNotes";
                                settings.Properties.NullText = "Notes";
                                settings.ControlStyle.CssClass = "form-control";
                                settings.Width = Unit.Percentage(100);
                                settings.Height = Unit.Pixel(160);
                            }).GetHtml()
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="row">

            <div class="text-center">
                <input id="btnSave" type="submit" value="Save" class="btn btn-primary" />
                <input id="Reset1" type="reset" value="Clear" class="btn btn-default" />
                <input name="Export" id="btnExport" type="button" value="Export to Outlook" class="btn btn-group" />
                <input name="Import" id="btnImport" type="button" value="Import from Outlook" class="btn btn-group" />
            </div>
        </div>
    </form>
    <br />
    <br />
    <div class="row">
        @Html.Action("ContactsGridPartial")
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/App/Contact.js"></script>
    <script type="text/javascript">
        webUrl = '@Url.Action("Index", "Contact")';
    </script>

}
