@using System.Web.UI.WebControls
@model M4PL.Entities.Contact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .setMarLft {
        margin-left: -10px;
    }

    .setWd {
        width: 59.8%;
    }
</style>
<div class="container-fluid">
    <h2>Contact</h2>
    <hr />
    <form id="frmContact" enctype="multipart/form-data" method="post" action='@Url.Action("Index", "Contact")'>
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
                        <label>Title</label>
                        @Html.DevExpress().ComboBox(settings =>
                        {
                            settings.Name = "Title";
                            settings.Width = Unit.Percentage(100);
                            settings.ControlStyle.CssClass = "form-control";

                            settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                            settings.SelectedIndex = 0;

                            settings.Properties.ValueType = typeof(string);
                            settings.Properties.Items.Add("Mr.");
                            settings.Properties.Items.Add("Ms.");
                            settings.Properties.Items.Add("Mrs.");
                            settings.Properties.Items.Add("Dr.");
                        }).GetHtml()
                        @Html.ValidationMessageFor(m => m.Title)
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
                        <label>First Name</label>
                        @Html.DevExpress().TextBoxFor(m => m.FirstName,
                        settings =>
                        {
                            settings.Properties.NullText = "First Name";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 25;
                        }).GetHtml()
                        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "error" })
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>Last Name</label>
                        @Html.DevExpress().TextBoxFor(m => m.LastName,
                        settings =>
                        {
                            settings.Properties.NullText = "Last Name";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 25;
                        }).GetHtml()
                        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "error" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Company</label>
                        @Html.DevExpress().TextBoxFor(m => m.Company,
                        settings =>
                        {
                            settings.Properties.NullText = "Company";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 100;
                        }).GetHtml()
                        @Html.ValidationMessageFor(m => m.Company, null, new { @class = "error" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>Job Title</label>
                        @Html.DevExpress().TextBoxFor(m => m.JobTitle,
                        settings =>
                        {
                            settings.Properties.NullText = "Job Title";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 50;
                        }).GetHtml()
                        @Html.ValidationMessageFor(m => m.JobTitle, null, new { @class = "error" })
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Address</label>
                        @Html.DevExpress().MemoFor(m => m.Address,
                        settings =>
                        {
                            settings.Properties.NullText = "Address";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Height = Unit.Pixel(94);
                            settings.Properties.MaxLength = 255;
                        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>City</label>
                        @Html.DevExpress().TextBoxFor(m => m.City,
                        settings =>
                        {
                            settings.Properties.NullText = "City";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 25;
                        }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                        <label>State/Province</label>
                        @Html.DevExpress().TextBoxFor(m => m.State,
                        settings =>
                        {
                            settings.Properties.NullText = "State/Province";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 25;
                        }).GetHtml()
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Country</label>
                        @Html.DevExpress().TextBoxFor(m => m.Country,
                        settings =>
                        {
                            settings.Properties.NullText = "Country";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 25;
                        }).GetHtml()
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Postal Code</label>
                        @Html.DevExpress().TextBoxFor(m => m.PostalCode,
                        settings =>
                        {
                            settings.Properties.NullText = "Postal Code";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 10;
                        }).GetHtml()
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <label for="file-input" style="border: 1px solid #ccc; margin-top: 8pt;">
                            <img id="imgPreview" src="http://www.intelligentmedia.com/Press/notavailable.gif" style="cursor: pointer; width: 100%; height: 100%;" />
                        </label>
                        <input id="file-input" name="ImageData" type="file" style="display: none;" />
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5 form-group setMarLft">
                                <label>Business Phone</label>
                                @Html.DevExpress().TextBoxFor(m => m.BusinessPhone,
                                settings =>
                                {
                                    settings.Properties.NullText = "Business Phone";
                                    settings.ControlStyle.CssClass = "form-control";
                                    settings.Width = Unit.Percentage(100);
                                    settings.Properties.MaxLength = 25;
                                }).GetHtml()
                                @Html.ValidationMessageFor(m => m.BusinessPhone, null, new { @class = "error" })
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 form-group setWd">
                                <label>Mobile Phone</label>
                                @Html.DevExpress().TextBoxFor(m => m.MobilePhone,
                                settings =>
                                {
                                    settings.Properties.NullText = "Mobile Phone";
                                    settings.ControlStyle.CssClass = "form-control";
                                    settings.Width = Unit.Percentage(100);
                                    settings.Properties.MaxLength = 25;
                                }).GetHtml()
                                @Html.ValidationMessageFor(m => m.MobilePhone, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5  form-group setMarLft">
                                <label>Home Phone</label>
                                @Html.DevExpress().TextBoxFor(m => m.HomePhone,
                                settings =>
                                {
                                    settings.Properties.NullText = "Home Phone";
                                    settings.ControlStyle.CssClass = "form-control";
                                    settings.Width = Unit.Percentage(100);
                                    settings.Properties.MaxLength = 25;
                                }).GetHtml()
                                @Html.ValidationMessageFor(m => m.HomePhone, null, new { @class = "error" })
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7  form-group setWd">
                                <label>Fax Number</label>
                                @Html.DevExpress().TextBoxFor(m => m.Fax,
                                settings =>
                                {
                                    settings.Properties.NullText = "Fax Number";
                                    settings.ControlStyle.CssClass = "form-control";
                                    settings.Width = Unit.Percentage(100);

                                    settings.Properties.MaxLength = 25;
                                }).GetHtml()
                                @Html.ValidationMessageFor(m => m.Fax, null, new { @class = "error" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Email Address 1</label>
                        @Html.DevExpress().TextBoxFor(m => m.Email,
                        settings =>
                        {
                            settings.Properties.NullText = "Email Address 1";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 100;
                        }).GetHtml()
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "error" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6  form-group">
                        <label>Email Address 2</label>
                        @Html.DevExpress().TextBoxFor(m => m.Email2,
                        settings =>
                        {
                            settings.Properties.NullText = "Email Address 2";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Properties.MaxLength = 100;
                        }).GetHtml()
                        @Html.ValidationMessageFor(m => m.Email2, null, new { @class = "error" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Notes</label>
                        @Html.DevExpress().MemoFor(m => m.Notes,
                        settings =>
                        {
                            settings.Properties.NullText = "Notes";
                            settings.ControlStyle.CssClass = "form-control";
                            settings.Width = Unit.Percentage(100);
                            settings.Height = Unit.Pixel(160);
                        }).GetHtml()
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="row">

            <div class="text-center">
                <input id="btnSave" type="submit" value="Save" class="btn btn-primary" />
                <input id="Reset1" type="reset" value="Clear" class="btn btn-default" />
                <input name="Export" id="btnExport" type="button" value="Export to Outlook" class="btn btn-group" />
                <input name="Import" id="btnImport" type="button" value="Import from Outlook" class="btn btn-group" />
            </div>
        </div>
    </form>
    <br />
    <br />
    <div class="row">
        @Html.Action("ContactsGridPartial")
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        webUrl = '@Url.Action("Index", "Contact")';

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file-input").change(function () {
            readURL(this);
        });

    </script>
}

@section Head{
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
}

