@using System.Drawing;
@using System.Web.UI.WebControls;
@model M4PL_API_CommonUtils.Response<M4PL.Entities.ColumnsAlias>
@{
    ViewBag.Title = "Save Alias Column";
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
    {
        settings.Name = "mnuTitle";
        settings.Width = Unit.Percentage(100);

        settings.Items.Add(item =>
        {
            item.Text = "Save Columns Alias";
            item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.BusinessobjectsBodepartment16x16;
        });
    }).GetHtml()
    <div class="form-group"></div>
    <form id="frmColumnsAlias" enctype="multipart/form-data" method="post" action='@Url.Action("SaveAliasColumns", "AllSettings")'>
        @Html.Partial("_Messages", Model)
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <h5>Select Page name</h5>
                @Html.Partial("_AllPageNameComboboxPartial")
                <br />
                <h5>Click on any row to edit</h5>
                @Html.Action("AliasColumnsGridPartial")
            </div>
        </div>
    </form>

</div>
