@using System.Drawing
@using M4PL_Apln.Models
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AllReports

<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Report";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Report";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ProgrammingShowtestreport16x16;
            });
        }).GetHtml()
    <div class="form-group"></div>
    <div class="col-md-4" style="float: left;">
        @Html.DevExpress().Chart(settings =>
    {
        settings.Width = new System.Web.UI.WebControls.Unit(600);
        settings.Height = new System.Web.UI.WebControls.Unit(400);
        settings.Name = "AreaChart";
        settings.Titles.Add(new ChartTitle()
        {
            Text = "Historic, current and future population"
        });
        Series series = new Series("Africa", DevExpress.XtraCharts.ViewType.Area);
        series.ArgumentDataMember = "Year";
        series.ValueDataMembers[0] = "Population";
        settings.Series.Add(series);
        XYDiagram diagram = (XYDiagram)settings.Diagram;
        diagram.AxisY.Title.Text = "Population mid-year, millions";
        diagram.AxisY.Title.Visible = true;
    }).Bind(Model.AreaChart).GetHtml()
    </div>
    <div class="col-md-4" style="float: left; margin-left: 10px; border: 1px solid;">
        @Html.DevExpress().Chart(settings =>
    {
        settings.Name = "BarChart";
        settings.Width = 600;
        settings.Height = 400;
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.CrosshairEnabled = DefaultBoolean.True;
        settings.Titles.Add(new ChartTitle()
        {
            Font = new Font("Tahoma", 18),
            Text = "Great Lakes Gross State Product"
        });
        settings.Titles.Add(new ChartTitle()
        {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray
        });
        settings.SeriesDataMember = "Year";
        settings.SeriesTemplate.ArgumentDataMember = "State";
        settings.SeriesTemplate.ValueDataMembers[0] = "Product";
        settings.SeriesTemplate.LabelsVisibility = DefaultBoolean.True;
        settings.SeriesTemplate.Label.ResolveOverlappingMode = ResolveOverlappingMode.Default;
        settings.Legend.AlignmentHorizontal = LegendAlignmentHorizontal.Right;
        Axis2D axisY = ((XYDiagram)settings.Diagram).AxisY;
        axisY.Interlaced = true;
        axisY.Title.Text = "Millions of Dollars";
        axisY.Title.Visibility = DefaultBoolean.True;
        ((BarSeriesLabel)settings.SeriesTemplate.Label).Position = BarSeriesLabelPosition.TopInside;
        ((BarSeriesLabel)settings.SeriesTemplate.Label).TextOrientation = TextOrientation.TopToBottom;
        ((BarSeriesLabel)settings.SeriesTemplate.Label).Indent = 2;
    }).Bind(Model.BarChart).GetHtml()
    </div>
    <div class="col-md-4" style="float: left; margin-left: 10px; border: 1px solid;">
        @Html.DevExpress().Chart(settings =>
    {
        settings.Name = "PieChart";
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.Width = 600;
        settings.Height = 400;
        settings.Legend.AlignmentHorizontal = LegendAlignmentHorizontal.RightOutside;
        Series series = new Series("Counties", DevExpress.XtraCharts.ViewType.Pie);
        series.LabelsVisibility = DefaultBoolean.True;
        ((PieSeriesLabel)series.Label).Position = PieSeriesLabelPosition.TwoColumns;
        series.Label.TextPattern = "{A}: {VP:P0}";
        series.ArgumentDataMember = "Name";
        series.ValueDataMembers[0] = "Area";
        settings.Series.Add(series);
        settings.BoundDataChanged = (s, e) =>
        {
            MVCxChartControl chart = (MVCxChartControl)s;
            PieSeriesViewBase view = (PieSeriesViewBase)chart.Series[0].View;
            view.ExplodeMode = PieExplodeMode.MinValue;
        };

        series.Label.TextColor = Color.Black;
        series.Label.BackColor = Color.Transparent;
        series.Label.Font = new Font("Tahoma", 8, FontStyle.Bold);
        series.Label.LineVisibility = DefaultBoolean.True;
        series.Label.Border.Visibility = DefaultBoolean.False;
        settings.Titles.Add(new ChartTitle()
        {
            Font = new Font("Tahoma", 18),
            Text = "Area of Countries"
        });
        settings.Titles.Add(new ChartTitle()
        {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray
        });
    }).Bind(Model.PieChart).GetHtml()
    </div>

    <br />
    @Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "documentViewer";
}).Bind(Model.XtraReport1).GetHtml()
</div>