@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              2/6/2016
    Program Name:                                 _UserChangedAndEnteredFormPartial
    Purpose:                                      Provides view for User Date Changed And Entered

    ====================================================================================================================================================*@
@using System.Drawing;
@using System.Web.UI.WebControls
@model M4PL.Entities.User

@*Start User Date Changed And Entered*@

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>@Model.LblDateEntered</label>
        @Html.DevExpress().TextBoxFor(m => m.SysDateEntered,
        settings =>
        {
            settings.Properties.NullText = "User Date Entered";
            
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;
            settings.Properties.Style.CssClass = "form-control readonlyBgColor";
            settings.Enabled = false;
        }).GetHtml()
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>@Model.LblDateChanged</label>
        @Html.DevExpress().TextBoxFor(m => m.SysDateChanged,
        settings =>
        {
            settings.Properties.NullText = "User Date Changed";
            
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;
            settings.Properties.Style.CssClass = "form-control readonlyBgColor";
            settings.Enabled = false;
        }).GetHtml()
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>@Model.LblEnteredBy</label>
        @Html.DevExpress().TextBoxFor(m => m.SysEnteredBy,
        settings =>
        {
            settings.Properties.NullText = "User Entered By";
            
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;
            settings.Properties.Style.CssClass = "form-control readonlyBgColor";
            settings.Enabled = false;
        }).GetHtml()
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
        <label>@Model.LblDateChangedBy</label>
        @Html.DevExpress().TextBoxFor(m => m.SysDateChangedBy,
        settings =>
        {
            settings.Properties.NullText = "User Changed By";
            
            settings.Width = Unit.Percentage(100);
            settings.Properties.MaxLength = 25;
            settings.Properties.Style.CssClass = "form-control readonlyBgColor";
            settings.Enabled = false;
        }).GetHtml()
    </div>
</div>

@*End User Date Changed And Entered*@
