@using System.Web.UI.WebControls
@model M4PL.Entities.User
@{
    ViewBag.Title = "Save User";
}

<div class="container-fluid">
    <h2>Add User</h2>
    <hr />
    <form id="frmUser" enctype="multipart/form-data" method="post" action='@Url.Action("Create", "User")'>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Screen Name</label>
                @Html.DevExpress().TextBox(settings =>
                {
                    settings.Name = "SysScreenName";
                    settings.Properties.NullText = "Screen Name";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                }).GetHtml()
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Password</label>
                @Html.DevExpress().TextBox(settings =>
                {
                    settings.Properties.Password = true;
                    settings.Name = "SysPassword";
                    settings.Properties.NullText = "Password";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                }).GetHtml()
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Select Contact</label>
                @Html.DevExpress().ComboBox(settings =>
                {
                    settings.Name = "SysUserContactID";
                    settings.Width = Unit.Percentage(100);
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                    settings.SelectedIndex = 0;
                    settings.Properties.Items.Add("--Select--", 0);
                    settings.Properties.TextField = "FullName";
                    settings.Properties.ValueField = "ContactID";
                    settings.Properties.ValueType = typeof(int);
                }).BindList(M4PL.APIClient.API_Contact.GetAllContacts()).GetHtml()

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Status</label>
                @Html.DevExpress().ComboBox(settings =>
                {
                    settings.Name = "SysStatusAccount";
                    settings.Width = Unit.Percentage(100);
                    settings.ControlStyle.CssClass = "form-control";

                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                    settings.SelectedIndex = 0;

                    settings.Properties.ValueType = typeof(int);
                    settings.Properties.Items.Add("--Select--", 0);
                    settings.Properties.Items.Add("Active", 1);
                    settings.Properties.Items.Add("Archive", 2);
                    settings.Properties.Items.Add("Suspended", 3);

                }).GetHtml()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <label>Comments</label>
                @Html.DevExpress().Memo(settings =>
                {
                    settings.Name = "SysComments";
                    settings.Properties.NullText = "Comments";
                    settings.ControlStyle.CssClass = "form-control";
                    settings.Width = Unit.Percentage(100);
                    settings.Height = Unit.Pixel(94);
                }).GetHtml()
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="text-center">
                <input id="btnSave" type="submit" value="Save" class="btn btn-primary" />
                <input id="Reset1" type="reset" value="Clear" class="btn btn-default" />
            </div>
        </div>
    </form>

</div>

@section Scripts {
    <script src="~/Scripts/App/User.js"></script>
    <script type="text/javascript">
        var BackUrl = '@Url.Action("Index","User")';
        function GoBack() {
            window.location.href = BackUrl;
        }
        $(window).load(function () {
            $("#frmUser").load();
        });
    </script>
}
