@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.User>
@{
    ViewBag.Title = "Save User";
}

<div class="container-fluid">
    <h2>Add User</h2>
    <hr />
    <form id="frmUser" enctype="multipart/form-data" method="post" action='@Url.Action("Create", "User")'>
        @Html.Partial("_Messages", Model)
        @Html.Partial("_SaveUserFormPartial", Model.Data)
        <hr />
        <div class="row">
            <div class="text-center">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnSave";
                    settings.Text = "Save";
                    settings.ControlStyle.CssClass = "btn btn-primary";
                    settings.UseSubmitBehavior = true;

                }).GetHtml()
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.Text = "Cancel";
                    settings.UseSubmitBehavior = false;
                    settings.ControlStyle.CssClass = "btn btn-default";
                    settings.RouteValues = Url.Action("Index", "User");
                }).GetHtml()
            </div>
        </div>
    </form>

</div>

@section Scripts {
    <script type="text/javascript">
    var BackUrl = '@Url.Action("Index","User")';
        function GoBack() {
            window.location.href = BackUrl;
        }
    </script>
}
