@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Users";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Users";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ViewEmployees16x16devav;
            });
        }).GetHtml()
    <hr />
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-6 form-group">

            @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.Text = "Add User";
                    settings.UseSubmitBehavior = false;
                    settings.ControlStyle.CssClass = "btn btn-default";
                    settings.RouteValues = Url.Action("Create", "User");
                }).GetHtml()


  
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Action("UsersGridPartial")
        </div>
    </div>
</div>


@section Scripts{
    <script>
        webUrl = '@Url.Action("Index", "User")';
        //$(window).load(function () {
        //    $("#tblUsers").load();
        //});
    </script>
}
