@model M4PL.Entities.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}



<style>
    body {
        width: 100%;
        height: 102vh;
        margin: 0;
        padding: 0;
        border: 0px;
        overflow: hidden;
    }

    header {
        width: 100%;
        height: 57px;
    }

    footer {
        background: #000;
        color: #fff;
        text-align: center;
    }

    .CenterOfLoginPage {
        width: 100%;
        height: calc(100% - 122px);
        background: #e2e6e9;
    }

    #wrap {
        min-height: 100%;
        height: 100%;
        /* Negative indent footer by its height */
        margin: 0 auto -50px 0;
        /* Pad bottom by footer height */
        padding: 0 0 80px 0;
    }
</style>
<!-- Wrap all page content here -->
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #31b0d5;">
    <div class="container">
        <div class="navbar-header">
            <div class="_LayoutBG" style="">
                <div class="row">
                    <img src="~/Images/logo.png" class="img-responsive" style="min-height:20px; min-width:20px;padding-left:20px;" />
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="wrap">
    <div class="container">
        <div id="loginbox" style="margin-top:200px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">Login to your account</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <form id="UserLogin" class="form-horizontal" role="form" method="post" action='@Url.Action("Login", "Login")'>
                        <br><span id="error" class="error"></span>
                        <br>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email Id</label>
                            <div class="input-group" style="margin-bottom: 25px;width:80%;">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control newInput", placeholder = "Email" })
                                @*<input type="text" class="form-control newInput" spellcheck="false" name="Loginemail" value="@Model.Email" placeholder="EMAIL" id="Loginemail" style="width:96%;">*@
                                <span id="erroremail" class="pull-right error"></span>
                                <span class="form-control-feedback glyphicon"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Password</label>
                            <div class="input-group" style="margin-bottom: 25px;width:80%;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control newInput", placeholder = "Password" })
                                @*<input type="password" class="form-control newInput" spellcheck="false" name="Loginpassword" value="@Model.Password" placeholder="PASSWORD" id="Loginpassword" style="width:96%;">*@
                            </div>
                        </div>
                        <div class="form-actions" style="text-align:center;">
                            <button type="submit" id="btnsubmit" class="col-md-14 btn btn-success noborderradius signuploginbtnfont customfullwidth" style="margin:10px;color:#fff;padding:8px 6px;min-width:100px;border-radius:5px;">LOGIN</button>
                            <br>
                            <input id="chkRememberMe" type="checkbox" checked="checked"><span class="SmallFontSize margin forgotpwdcolor">Keep me signed in</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="background-color:#31b0d5;">
    <div class=" container">
        <p class="text-muted" style="color:#FFF;font-size: 20px;">© 2016 Meridian Worldwide Transportation Group. All Rights Reserved.</p>
    </div>
</footer>


